<section class="about">
    <div class="about-container container">
        <div class="about-wrap">
        <h2 class="about-title">About Us</h2>
        <div class="about-text">
            <p class="about-text-top">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life with new zest and style. Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance of traditional needlework and modern design.</p>
            <p class="about-text-bottom">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern, corresponding to the latest fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified craftsmen who convey the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a symbol of national pride, the heritage of our ancestors and a way of expressing one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>
        </div>
        </div>

        <picture class="about-picture">
            <source
                srcset="../img/about-big-desk-1x.jpg 1x, ../img/about-big-desk-2x.jpg 2x"
                media="(min-width: 1440px)"
            />
            <source
                srcset="../img/about-small-desk-1x.jpg 1x, ../img/about-small-desk-2x.jpg 2x"
                media="(min-width: 1280px)"
            />
            <source
                srcset="../img/about-tab-1x.jpg 1x, ../img/about-tab-2x.jpg 2x"
                media="(min-width: 768px)"
            />
            <source
                srcset="../img/about-mob-1x.jpg 1x, ../img/about-mob-2x.jpg 2x"
                media="(max-width: 767px)"
            />
            <img
                src="../img/about-mob-1x.jpg"
                alt="Traditional needlework and modern design"
                width="335"
                height="499"
                class="about-image"
            />
        </picture>
    </div>
</section>