<section class="collection">
  <div class="container">
    <h2 class="collection-title">Our Collection</h2>

    <ul class="collection-list">
      <li class="collection-item">
        <div class="collection-picture">
          <picture>
            <source
              srcset="
                ./img/august-desk-big-1x.jpg 1x,
                ./img/august-desk-big-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/august-desk-1x.jpg 1x, ./img/august-desk-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/august-tab-1x.jpg 1x, ./img/august-tab-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/august-mob-1x.jpg 1x, ./img/august-mob-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img//august-desk-big-1x.jpg"
              alt="August"
              width="400"
              height="430"
              class="collection-img"
            />
          </picture>
        </div>

        <div class="container-collection">
          <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
          <span class="collection-item-price">3300 UAH</span>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-picture">
          <picture>
            <source
              srcset="
                ./img/gorgany-desk-big-1x.jpg 1x,
                ./img/gorgany-desk-big-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/gorgany-desk-1x.jpg 1x,
                ./img/gorgany-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/gorgany-tab-1x.jpg 1x, ./img/gorgany-tab-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/gorgany-mob-1x.jpg 1x, ./img/gorgany-mob-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img
              src="../img/gorgany-desk-big-1x.jpg"
              alt="Gorgany"
              width="400"
              height="430"
              class="collection-img"
            />
          </picture>
        </div>
        <div class="container-collection">
          <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
          <span class="collection-item-price">3350 UAH</span>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-picture">
          <picture>
            <source
              srcset="
                ./img/crimea-desk-big-1x.jpg 1x,
                ./img/crimea-desk-big-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/crimea-desk-1x.jpg 1x, ./img/crimea-desk-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/crimea-tab-1x.jpg 1x, ./img/crimea-tab-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/crimea-mob-1x.jpg 1x, ./img/crimea-mob-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img/crimea-desk-big-1x.jpg"
              alt="Crimea"
              width="400"
              height="430"
              class="collection-img"
            />
          </picture>
        </div>
        <div class="container-collection">
          <h3 class="collection-subtitle">Women's blouse Crimea</h3>
          <span class="collection-item-price">4000 UAH</span>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-picture">
          <picture>
            <source
              srcset="
                ./img/verkhovina-desk-big-1x.jpg 1x,
                ./img/verkhovina-desk-big-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/verkhovina-desk-1x.jpg 1x,
                ./img/verkhovina-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/verkhovina-tab-1x.jpg 1x,
                ./img/verkhovina-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/verkhovina-mob-1x.jpg 1x,
                ./img/verkhovina-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/verkhovina-desk-big-1x.jpg"
              alt="Verkhovina"
              width="400"
              height="430"
              class="collection-img"
            />
          </picture>
        </div>
        <div class="container-collection">
          <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
          <span class="collection-item-price">3100 UAH</span>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-picture">
          <picture>
            <source
              srcset="
                ./img/mountain-desk-big-1x.jpg 1x,
                ./img/mountain-desk-big-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/mountain-desk-1x.jpg 1x,
                ./img/mountain-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/mountain-tab-1x.jpg 1x,
                ./img/mountain-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/mountain-mob-1x.jpg 1x,
                ./img/mountain-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/mountain-desk-big-1x.jpg"
              alt="Mountain"
              width="400"
              height="430"
              class="collection-img"
            />
          </picture>
        </div>
        <div class="container-collection">
          <h3 class="collection-subtitle">Mountain men's shirt</h3>
          <span class="collection-item-price">3300 UAH</span>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-picture">
          <picture>
            <source
              srcset="
                ./img/yasen-desk-big-1x.jpg 1x,
                ./img/yasen-desk-big-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="./img/yasen-desk-1x.jpg 1x, ./img/yasen-desk-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/yasen-tab-1x.jpg 1x, ./img/yasen-tab-2x.jpg 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/yasen-mob-1x.jpg 1x, ./img/yasen-mob-2x.jpg 2x"
              media="(max-width: 767px)"
            />
            <img
              src="./img/yasen-desk-big-1x.jpg"
              alt="Yasen"
              width="400"
              height="430"
              class="collection-img"
            />
          </picture>
        </div>
        <div class="container-collection">
          <h3 class="collection-subtitle">Men's shirt Yasen</h3>
          <span class="collection-item-price">1700 UAH</span>
        </div>
      </li>
    </ul>
  </div>
</section>
