<footer class="footer">
  <div class="container footer-container">
    <div class="footer-link">
      <ul>
        <li><a href="#id">ABOUT US</a></li>
        <li><a href="#id">CUSTOMER ORDER</a></li>
        <li><a href="#id">OUR COLLECTION</a></li>
        <li><a href="#id">TESTIMONIALS</a></li>
      </ul>
    </div>
    <div class="footer-text">
      <p>A touch of <span>Ukrainian</span> culture in every embroidery</p>
    </div>
  </div>
  </div>
  <div class="footer-background"></div>
</footer>
