<section class="hero">
    <div class="container hero-container">
        <h1 class="hero-header">
            Reviving the traditional <span class="text-style-1">Ukrainian</span> artistry in every stitch.
        </h1>
        <button class="hero-btn">
            order <svg class="hero-svg" width="26" height="26">
            <use href="../img/hero-svg-sprite.svg#icon-arrow">

            </use>
        </svg>
        </button>
        <img 
            class="hero-image" 
            srcset="../img/girl-hero-mob-2x.jpg 2x"
            src="../img/girl-hero-mob-1x.jpg" alt="Girl">
    </div>
</section>