<section class="hero">
  <div class="container">
    <div class="container-wrap">
      <ul class="hero-container">
        <li class="hero-image mob">
          <img
            class="hero-img"
            srcset="./img/girl-hero-mob-2x.jpg 2x"
            src="./img/girl-hero-mob-1x.jpg"
            alt="Girl"
          />
        </li>
        <li class="hero-image tablet">
          <img
            class="hero-img"
            width="413px"
            srcset="./img/girl-hero-tablet-2x.jpg 2x"
            src="./img/girl-hero-tablet-1x.jpg"
            alt="Girl"
          />
        </li>
        <li class="hero-image desktop">
          <img
            class="hero-img"
            width="413px"
            srcset="./img/girl-hero-desktop-2x.jpg 2x"
            src="./img/girl-hero-desktop-1x.jpg"
            alt="Girl"
          />
        </li>
        <li class="hero-info">
          <h1 class="hero-header">
            Reviving the traditional
            <span class="text-style-1">Ukrainian</span> artistry in every
            stitch.
          </h1>
          <button class="hero-btn">
            <a href="./partials/order.html">order</a>
            <svg class="hero-svg" width="26" height="26">
              <use href="../img/hero-svg-sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </li>
      </ul>
      <ul class="embroidery">
        <li class="embroidery-icon">
          <svg class="hero-svg" width="52" height="51">
            <use href="../img/hero-svg-sprite.svg#icon-Star-10"></use>
          </svg>
        </li>
        <li class="embroidery-text">all embroidery is made by hand</li>
      </ul>
      <div class="cloth">
        <img src="../img/cloth-hero-tablet-1x.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
