<section class="your-order">

  <div class="background-image"></div>

  <div class="container-title-form">
    <h3 class="title-form">
      <span class="title-form-span">Your order</span> is our priority:
      Personalized approach and quality of service
    </h3>

    <form name="feedback_form" autocomplete="off">
      <div class="inputs">
        <div class="input-wrapper">
          <label class="label-text" for="user-name"></label>
          <div class="input-group">
            <input
              class="input-group__input"
              placeholder="Enter your full name"
              name="user-name"
              id="user-name"
              type="text"
            />
          </div>
        </div>
        <div class="input-wrapper">
          <label for="user-email" class="label-text"></label>
          <div class="input-group">
            <input
              class="input-group__input"
              placeholder="Enter your email"
              id="user-email"
              type="email"
              name="user-email"
            />
          </div>
        </div>
        <div class="comment-wrapper">
          <label class="label-text" for="user-comment"></label>
          <textarea
            name="user-comment"
            placeholder="Comments"
            class="textarea-form"
            id="user-comment"
          ></textarea>
        </div>
      </div>
    </form>
    <button type="submit" class="button">Send
      <svg width="26" height="10" class="svg-btn">
                <use href="../img/icons.svg#icon-icon-for-button-order"></use>
              </svg>
    </button>
  </div>
</section>