.about {
}

/* .about-container {
    background-color: #1C2225;
    background-image: url(../src/img/about-background-image.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 459px 408px;
    padding: 0px 0.615px 0.455px 0px;
} */

.container {
}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.about-title {
    color: var(--white, #FCF9F9);
font-family: Manrope;
font-size: 44px;
font-weight: 500;
line-height: 1.45em; /* 145.455% */
letter-spacing: -0.03em;
gap: 40px;
}

.about-text {
    color: rgba(252, 249, 249, 0.40);
font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.04em;
}

.about-text-top {
    margin-bottom: 20px;
}

.about-text-bottom {
}

.about-picture {
}

.about-image {
}
