.header {
padding-right: 20px;
padding-left: 20px;
}

.logo-svg {
  background-color: transparent;
  display: inline-block;
}
.header-container {
  display: flex;
  align-items: end;
}

.header-social {
  display: flex;
  margin-left: auto;
  padding-top: 24px;
}

.header-soc-list {
  display: flex;
  gap: 12px;
}

.header-nav-list {
  display: none;
}

.address-list-item {
  color: #FCF9F9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
  text-transform: uppercase;
  display: flex;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.address-list-item:hover,
.address-list-item:focus {
  border: 1px solid #ECD979;
}

.address-list {
  cursor: pointer;
}

.header-nav-item {
    color:#FCF9F9;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    text-transform: uppercase;
    cursor: pointer;
      transition-property: color;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
}

.header-nav-item:hover,
.header-nav-item:focus {
  color: #ECD979;
}

.header-soc-item {
  display: flex;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.10);
  background: rgba(252, 249, 249, 0.10);
  cursor: pointer;
  transition-property: background-color, border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.header-soc-item:hover,
.header-soc-item:focus {
  background-color: transparent;
  border: 1px solid #ECD979;
}
.menu-open-btn {
background-color: transparent;
border: none;
padding: 0;
margin-left: 12px;
}

.mob-menu {
  max-width: 274px;
  height: 100vh;
    background-color: #ECD979;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: url(../img/elements.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.mob-address-item {
    color: #1C2225;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.10);
    padding: 12px 20px;
    cursor: pointer;
}

.mob-address-item:hover,
.mob-address-item:focus {
  border: 1px solid #ECD979; 
}

.mob-container {
  display: flex;
}

.mob-nav{
  display: flex;
  justify-content: end;
  position: relative;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

.mob-nav-item {
  color: #1C2225;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    text-transform: uppercase;
}

.close-mob-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
}

.close-menu-icon {
  fill: black;
}
.address {
  display: none;
}




@media screen and (min-width: 768px) {
  .header {
      padding-right: 32px;
      padding-left: 32px;
    }
  
  .mob-menu {
    width: 380px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .mob-address-item {
      font-size: 14px;
      line-height: 1.42;
      padding: 14px 28px;
  }

  .close-menu-icon {
    width: 44px;
    height: 44px;
  }

  .menu-open-btn {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-right: 100px;
    padding-left: 100px;
  }
  
  .mob-menu {
    display: none;
  }

  .menu-open-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-social {
    margin-left: 20px;
  }

  .header-nav-list {
    display: flex;
    margin-left: 40px;
    gap: 25px;
  }

  .address {
    display: flex;
    margin-left: auto;
  }
}

@media screen (min-width: 1440px) {

}
