.hero-header {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    
    font-style: normal;
    font-weight: 400;
}
.hero-container {

}
.text-style-1 {
    color: var(--white, #ECD979);
}
.hero-btn {
    background: #1C2225;
    display: inline-flex;
    height: 49px;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);

    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}
.hero-btn:hover,
.hero-btn:focus {
    border: 1px solid var(--yellow, #ECD979);
}
.hero-image {
    border-radius: 4px;

}
.embroidery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 115px;
    height: 111px;
}
.embroidery-text {
    color: rgba(252, 249, 249, 0.40);

    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
    width: 115px;
}


@media screen and (min-width: 320px) and (max-width: 374px) {
.hero-container {
    display: flex;
    flex-direction: column-reverse;
}
.hero-header {
    width: 335px;
    height: 216px;
    font-size: 44px;
    line-height: 54px; /* 122.727% */
    letter-spacing: -1.32px;
}
.hero-btn {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 70px;
    
}
.hero-image {
    width: 335px;
    height: 545px;
    background: url(../img/girl-hero-mob-1x.jpg) lightgray 50% / cover no-repeat;
}
.embroidery {
    display: none;
}
.cloth {
    display: none;
}
}





@media screen and (min-width: 375px) {

.hero-header {
    
    width: 549px;
    height: 192px;
    font-size: 54px;
    line-height: 64px; /* 118.519% */
    letter-spacing: -1.62px;
}
.hero-image {
    width: 413px;
    height: 575px;
    background: url(../img/girl-hero-tablet-1x.jpg) lightgray 50% / cover no-repeat;
}
.hero-container {
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
    

}
.hero-info {
    margin-top: 26px;
}
.hero-btn {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 141px;
}
.hero .container {
    position: relative;
}
.embroidery {
    position: absolute;
    top: 0;
    right: 0;
}
.cloth {
    

    width: 157px;
    height: 191px;
    overflow: hidden;
}
.cloth img {
    width: 157px;
    height: 119px;
    clip-path: ellipse(50% 100% at 50% 100%);
    position: absolute;
    bottom: 271px;
    right: 0;
}






}
