/** -------------IMAGE----------------- */
.background-image {
  margin-bottom: 80px;
}
/**--------------Title----------------- */
.order {
  margin: 0 auto;
  background-image: url(../img/order/girl-in-green-vyshyvanka.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 375px 550px;
  max-width: 375px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order {
    background-image: url(../img/order/girl-in-green-vyshyvanka_2x.jpg);
  }
}

.order-continer {
  padding-top: 630px;
}
.botoom-container {
  display: none;
}

.title-form {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.03em;
}
.title-form-span {
  color: #ecd979;
}

/** --------------Form---------------- */

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0 40px 0;
}
.input-group__input {
  outline: none;
  border: none;
  width: 100%;
  padding: 14px 16px;
  border-radius: 15px;
  border: none;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  letter-spacing: -0.02em;
}
.input-group__input:focus,
.input-group__input:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
}
.textarea-form {
  outline: none;
  border: none;
  width: 100%;
  height: 196px;
  padding: 14px 16px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  letter-spacing: -0.02em;
  resize: none;
}
.textarea-form:focus,
.textarea-form:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
}
/**--------------Button--------------- */
.button {
  display: flex;
  width: 145px;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  margin: 0 auto;
}

.button:focus,
.button:hover {
  border-radius: 15px;
  border: 1px solid #ecd979;
}

@media screen and (min-width: 768px) {
  .second-background {
    margin: 0 auto;
    background-image: url(../img/order/girl-in-green-vyshyvanka_tablet.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 768px 776px;
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .second-background {
      background-image: url(../img/order/girl-in-green-vyshyvanka_tablet_2x.jpg);
    }
  }

  .order-continer {
    padding-top: 876px;
  }

  .botoom-container {
    display: block;
    margin-top: 100px;
    padding-bottom: 79px;
  }
  .title-form {
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    max-width: 542px;
  }
  .inputs {
    width: 508px;
  }
  .button {
    margin: 0;
  }
  .img-vyshyvanka-container {
    width: 638px;
    position: relative;
    left: 66px;
  }

  .order {
    margin: 0 auto;
    background-image: url(../img/order/elements.png);
    background-repeat: no-repeat;
    background-position: bottom 100px left;
    background-size: auto 445px;
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: url(../img/order/elements_2x.png);
    }
  }
}
@media screen and (min-width: 1280px) {
  .second-background {
    margin: 0 auto;
    background-image: url(../img/order/girl-in-green-vyshyvanka_pc.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1280px 776px;
    max-width: 1280px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .second-background {
      background-image: url(../img/order/girl-in-green-vyshyvanka_pc_2x.jpg);
    }
  }

  .order {
    margin: 0 auto;
    background-image: url(../img/order/elements-desktope1x.png);
    background-repeat: no-repeat;
    background-position: bottom 150px left;
    background-size: auto 445px;
    max-width: 1280px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: url(../img/order/elements-desktope2x.png);
    }
  }

  .order-continer {
    padding-top: 926px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    column-gap: 50px;
  }
  .order-continer {
    flex-direction: row-reverse;
  }

  .img-vyshyvanka-container {
    position: relative;
    left: 0px;
  }

  .img-vyshyvanka {
    min-width: 524px;
    min-height: 521px;
  }

  .botoom-container {
    margin: 0;
  }
  .container-title-form {
    width: 542px;
    padding: 0px;
  }
  .title-form {
    font-size: 44px;
    line-height: 58px;
    letter-spacing: -0.03em;
    width: 542px;
  }
  .inputs {
    width: 508px;
  }
  .button {
    margin: 0;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .second-background {
    margin: 0 auto;
    background-image: url(../img/order/girl-in-green-vyshyvanka_pc_large.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 1440px 776px;
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .second-background {
      background-image: url(../img/order/girl-in-green-vyshyvanka_pc_large_2x.jpg);
    }
  }

  .order {
    margin: 0 auto;
    background-image: url(../img/order/elements-desktope-large1x.png);
    background-repeat: no-repeat;
    background-position: bottom 150px left;
    background-size: 325px 484px;
    max-width: 1440px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: url(../img/order/elements-desktope-large2x.png);
    }
  }

  .img-vyshyvanka-container {
    width: 638px;
    position: relative;
    left: 0px;
  }

  .title-form {
    display: block;
    min-width: 666px;
  }
}
