/* body {
  background-color: #1c2225;
} */
/** -------------IMAGE----------------- */
.background-image {
  margin-bottom: 80px;
}
/**--------------Title----------------- */
/* .your-order {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
} */

.order {
  margin: 0 auto;
  background-image: url(../img/order/girl-in-green-vyshyvanka.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 375px 550px;
  max-width: 375px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order {
    background-image: url(../img/order/girl-in-green-vyshyvanka_2x.jpg);
  }
}

.order-continer {
  padding-top: 630px;
  /* position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  column-gap: 50px; */
}
.botoom-container {
  display: none;
}
/* .ornament-container {
  position: absolute;
  bottom: 0px;
  background-image: url(../img/order/elements.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 322px 484px;
  display: flex;
  width: 289px;
  height: 484px;
  padding: 0px 0.731px 0.539px 0px;
  justify-content: center;
  align-items: center;
} */
/* 
.img-vyshyvanka-container {
  position: relative;
  display: block;
  z-index: 1;
  width: 524px;
  margin-left: 64px;
} */

.container-title-form {
  /* display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%; */
  /* padding: 0px 20px; */
}
.title-form {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.03em;
}
.title-form-span {
  color: #ecd979;
}

/** --------------Form---------------- */

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0 40px 0;
  /* align-self: stretch; */
}
.input-wrapper {
  /* display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px; */
}
.input-group__input {
  /* display: flex; */
  outline: none;
  border: none;
  width: 100%;
  padding: 14px 16px;
  /* align-items: flex-start;
  gap: 8px; */
  border-radius: 15px;
  border: none;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  letter-spacing: -0.02em;
}
.input-group__input:focus,
.input-group__input:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
}
/* . {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
} */
/* .comment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
} */
.textarea-form {
  outline: none;
  border: none;
  /* display: flex; */
  width: 100%;
  height: 196px;
  padding: 14px 16px;
  /* align-items: flex-start; */
  /* gap: 8px; */
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  letter-spacing: -0.02em;
  resize: none;
}
.textarea-form:focus,
.textarea-form:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
}

/* .textarea-form:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
  color: #fcf9f9;
} */
/**--------------Button--------------- */
.button {
  display: flex;
  width: 145px;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: #fcf9f9;
  /* font-family: Manrope; */
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  margin: 20px auto;
}

.button:focus,
.button:hover {
  border-radius: 15px;
  border: 1px solid #ecd979;
}

/* .button:hover {
  border-radius: 15px;
  border: 1px solid #ecd979;
} */
/* @media screen and (min-width: 375px) {
  .container {
      max-width: 375px;
  }
} */
@media screen and (min-width: 768px) {
  /* .container {
      max-width: 768px;
  } */
  .second-background {
    margin: 0 auto;
    background-image: url(../img/order/girl-in-green-vyshyvanka_tablet.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 768px 776px;
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .second-background {
      background-image: url(../img/order/girl-in-green-vyshyvanka_tablet_2x.jpg);
    }
  }

  .order-continer {
    padding-top: 876px;
    /* position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  column-gap: 50px; */
  }

  .botoom-container {
    display: block;
    margin-top: 100px;
    padding-bottom: 79px;
  }
  .container-title-form {
    /* width: 542px;
    padding: 0px; */
    /* margin-left: 32px; */
  }
  .title-form {
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: -0.03em; /* 1.32/44 */
    max-width: 542px;
  }
  .inputs {
    width: 508px;
  }
  .button {
    margin: 0;
    /* margin-top: 20px; */
  }
  .img-vyshyvanka-container {
    width: 638px;
    position: relative;
    left: 66px;
  }
  /* .img-vyshyvanka-container {
    margin-left: 98px;
  } */
  /* .img-vyshyvanka-container img {
    width: 638px;
    height: 521px;
  } */
  /* .ornament-container {
    background-size: 310px 484px;
    width: 310px;
  } */

  .order {
    margin: 0 auto;
    background-image: url(../img/order/elements.png);
    background-repeat: no-repeat;
    background-position: bottom 100px left;
    background-size: auto 445px;
    max-width: 768px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .order {
      background-image: url(../img/order/elements_2x.png);
    }
  }
}
@media screen and (min-width: 1280px) {
  .botoom-container {
    display: block;
  }
  /* .container {
      max-width: 1280px;
  } */
  .order-continer {
    flex-direction: row-reverse;
    height: 640px;
  }
  .background-image {
    margin-bottom: 150px;
  }
  .container-title-form {
    width: 542px;
    padding: 0px;
  }
  .title-form {
    font-size: 44px;
    line-height: 58px;
    letter-spacing: -1.32;
  }
  .inputs {
    width: 508px;
  }
  .button {
    margin: 0;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .img-vyshyvanka-container {
    margin-left: 100px;
  }
  /* .container {
    max-width: 1440px;
  } */
  .title-form {
    /* width: 666px; */
    letter-spacing: -1.32px;
  }
}
